.form-comment {}

.comment-header {
	min-height: $navbar-height;
	background-color:#727272;
	line-height:$navbar-height;
	padding: 0 19px;
	margin-bottom:20px;
	color:#ffffff;
}

.comment-header-info {
	@extend .pull-left;
}

.comment-header-alert {
	@extend .pull-right;
	margin-right:10px;
}

.comment-header-search {
	@extend .pull-right;
}

.comment-badge {
	@extend .badge;
	color: #ffff;
 	background-color: #03A9F4;
}

.comment-badge-alert {
	@extend .badge;
	color: #ffff;
 	background-color: #F44336;
}

.comment-list {


}
.comment {
  background: #fff;
  border: 1px solid $gray-lighter;
  margin-bottom: $line-height/4;

  &-text {
    padding: $line-height/2;
  }

  &-meta {
    @include clearfix();
    padding: $line-height/4 $line-height/2;
    color: $gray-light;
    font-size: $font-size-small;
  }

  &-author {
    font-style: italic;
    float: left;
  }

  &-date {
    float: right;
  }

  &-create {
    background: #fff;
    border: 1px solid $gray-lighter;
    margin-top: $line-height;
    padding: $line-height/2 $line-height/2 0;
  }
}

.comment-form-search {
	margin-top:7px;
}

