// bootstrap
$body-bg:              #F5F5F5 !default;
$text-color:            #212121 !default;
$well-bg:                #B3E5FC !default;
$well-border:          darken($well-bg, 7%) !default;

$icon-font-path:     "../fonts/" !default;


